$main-color-1: #2edbf1;
$main-color-2: #e72242;
$dark-color-1: #151116;
$dark-color-2: #1e1e25;
$dark-color-3: #292933;
$dark-color-4: #3f3f46;
$dark-color-5: #1b171d;

$primary-font: 'Raleway', sans-serif;
$handwritten-font: 'Alex Brush', cursive;
