*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    background-color: #151116;
    color: white;
    font-family: 'Raleway', sans-serif;
}

input[type='submit'],
input[type='button'],
button {
    border: none;
    outline: none;
    cursor: pointer;
}

.mark-svg {
    fill: none;
    stroke-width: 12px;
    transition: stroke 0.5s ease;
}

.x .mark-svg {
    stroke: #2edbf1;
    stroke-dasharray: 90;
}

.o .mark-svg {
    stroke: #e72242;
    stroke-dasharray: 204;
}

.tic-tac-toe {
    margin: 0 auto;
    position: relative;

    .tic-tac-toe__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    &__title {
        padding-top: 2rem;
        font-size: 4rem;
        font-weight: 800;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 106px;
            height: 70px;
            background: no-repeat center/contain url('../../assets/logotype.svg');
            position: absolute;
            bottom: 43%;
            left: 4.25rem;
            z-index: -1;
        }
    }

    &__author {
        margin-top: -3.5rem;
        margin-right: -15rem;
        font: 400 2rem 'Alex Brush', cursive;
    }

    &__board {
        display: grid;
        width: 90vw;
        height: 90vw;
        max-width: 410px;
        max-height: 410px;
        margin: 0 auto;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        gap: 10px;
        position: relative;

        .tic-tac-toe__cell {
            background-color: #1e1e25;
            border-radius: 4px;
            transition: background-color 0.2s ease;
        }

        &:not(.game-over) .tic-tac-toe__cell {
            cursor: pointer;

            &:hover {
                background-color: #292933;
            }
        }
    }

    &__mark {
        display: block;
        width: 60%;
        height: 60%;
        margin: 20%;

        &.o {
            transform: rotate(-90deg);
        }

        &.hidden {
            display: none;
        }

        &.no-win .mark-svg {
            stroke: #3f3f46;
        }
    }

    &__game-over {
        display: flex;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        visibility: hidden;
        transition: visibility 0.3s ease;

        &.active {
            visibility: visible;

            &::before {
                opacity: 1;
            }

            .tic-tac-toe__mark,
            .game-over__heading,
            .game-over__button {
                opacity: 1;
            }

            .game-over__heading {
                transition-delay: 0.3s;
            }

            .tic-tac-toe__mark {
                transition-delay: 0.6s;
            }

            .game-over__button {
                transition: opacity 0.3s ease 0.9s, background-color 0.3s ease;
            }
        }

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: #1b171d;
            position: absolute;
            z-index: -1;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .tic-tac-toe__mark,
        .game-over__heading,
        .game-over__button {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .game-over__marks {
            display: flex;
        }

        .tic-tac-toe__mark {
            width: 82px;
            height: auto;
            margin: 0;
        }

        .game-over__heading {
            margin: 0;
            margin-bottom: 3rem;
            font-size: 2.5rem;
            font-weight: 600;

            .game-over__player {
                font-weight: 800;
            }
        }

        .game-over__button {
            padding: 16px 48px;
            margin-top: 3rem;
            font: 700 1rem 'Raleway', sans-serif;
            background-color: #2edbf1;
            color: white;
            border-radius: 100px;
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05);
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #e72242;
            }
        }
    }
}
