@import 'variables';

@import 'default';
@import 'game-over';
@import 'marks';

.tic-tac-toe {
    margin: 0 auto;
    position: relative;

    .tic-tac-toe__header {
        display: flex;
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
    }

    &__title {
        margin-top: 0;
        padding-top: 2.5rem;
        font-size: 4rem;
        font-weight: 800;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 6.625rem;
            height: 4.375rem;
            background: no-repeat center/contain url('../../assets/logotype.svg');
            position: absolute;
            top: 0;
            left: 4.25rem;
            z-index: -1;
        }
    }

    &__author {
        margin-top: -3.5rem;
        margin-right: -15rem;
        font: 400 2rem 'Alex Brush', cursive;
    }

    &__board {
        display: grid;
        width: 90vw;
        height: 90vw;
        max-width: 410px;
        max-height: 410px;
        margin: 0 auto;
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
        gap: 10px;
        position: relative;

        .tic-tac-toe__cell {
            background-color: $dark-color-2;
            border-radius: 4px;
            transition: background-color 0.2s ease;
        }

        &:not(.game-over) .tic-tac-toe__cell {
            cursor: pointer;

            &:hover {
                background-color: $dark-color-3;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }

    .tic-tac-toe__author {
        margin-right: -11rem;
    }
}
